# Call Center Analysis

In [1]:
#Importing Libraries
import pandas as pd
data = pd.read_excel("Call-Center-Dataset.xlsx")

In [2]:
data.shape

(5000, 10)

In [3]:
data.columns

Index(['Call Id', 'Agent', 'Date', 'Time', 'Topic', 'Answered (Y/N)',
       'Resolved', 'Speed of answer in seconds', 'AvgTalkDuration',
       'Satisfaction rating'],
      dtype='object')

In [4]:
data.index.value_counts().sum()

np.int64(5000)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Call Id                     5000 non-null   object
 1   Agent                       5000 non-null   object
 2   Date                        5000 non-null   object
 3   Time                        5000 non-null   object
 4   Topic                       5000 non-null   object
 5   Answered (Y/N)              5000 non-null   object
 6   Resolved                    5000 non-null   object
 7   Speed of answer in seconds  4054 non-null   float64
 8   AvgTalkDuration             4054 non-null   object
 9   Satisfaction rating         4054 non-null   float64
dtypes: float64(2), object(8)
memory usage: 390.8+ KB

In [6]:
data.head(5)

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
0,ID0001,Diane,2021-01-01,09:12:58,Contract related,Y,Y,109.0,00:02:23,3.0
1,ID0002,Becky,2021-01-01,09:12:58,Technical Support,Y,N,70.0,00:04:02,3.0
2,ID0003,Stewart,2021-01-01,09:47:31,Contract related,Y,Y,10.0,00:02:11,3.0
3,ID0004,Greg,2021-01-01,09:47:31,Contract related,Y,Y,53.0,00:00:37,2.0
4,ID0005,Becky,2021-01-01,10:00:29,Payment related,Y,Y,95.0,00:01:00,3.0

## Data Cleaning  and Handling

*Duplicates Removal*

In [7]:
data.duplicated().sum()

np.int64(0)

*Handling Missing values*

In [8]:
data.isnull().sum()

Call Id                         0
Agent                           0
Date                            0
Time                            0
Topic                           0
Answered (Y/N)                  0
Resolved                        0
Speed of answer in seconds    946
AvgTalkDuration               946
Satisfaction rating           946
dtype: int64

In [9]:
data['Speed of answer in seconds'] = data['Speed of answer in seconds'].fillna(data['Speed of answer in seconds'].mean())

In [10]:
data['AvgTalkDuration'] = data['AvgTalkDuration'].astype(str)
data['AvgTalkDuration'] = pd.to_timedelta(data['AvgTalkDuration'])
data['AvgTalkDuration'] = data['AvgTalkDuration'].dt.total_seconds() / 60

In [11]:
data['AvgTalkDuration'] = data['AvgTalkDuration'].fillna(data['AvgTalkDuration'].mean())
data['AvgTalkDuration'] = data['AvgTalkDuration'].round(2)

In [12]:
data['Satisfaction rating'] = data['Satisfaction rating'].fillna(data['Satisfaction rating'].mean())
data['Satisfaction rating'] = data['Satisfaction rating'].round(2)

In [13]:
data.isnull().sum()

Call Id                       0
Agent                         0
Date                          0
Time                          0
Topic                         0
Answered (Y/N)                0
Resolved                      0
Speed of answer in seconds    0
AvgTalkDuration               0
Satisfaction rating           0
dtype: int64

*Data Type Conversion*

In [14]:
data.sample(5)

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
4151,ID4152,Jim,2021-03-14,13:46:34,Admin Support,Y,Y,81.0,3.52,5.0
4488,ID4489,Becky,2021-03-21,11:09:36,Payment related,Y,Y,17.0,1.97,4.0
1753,ID1754,Diane,2021-01-31,15:01:26,Streaming,Y,Y,93.0,2.32,4.0
3743,ID3744,Dan,2021-03-06,16:49:26,Technical Support,Y,Y,76.0,1.20,5.0
1402,ID1403,Becky,2021-01-26,09:05:46,Contract related,Y,Y,86.0,1.03,4.0

In [15]:
data['Speed of answer in seconds'] = pd.to_timedelta(data['Speed of answer in seconds'], unit = 's').dt.total_seconds()
data['Speed of answer in seconds'] = data['Speed of answer in seconds'].round(2)

In [16]:
data['Date'] = pd.to_datetime(data['Date'])

In [17]:
data['Time'] = pd.to_datetime(data['Time'], format = '%H:%M:%S').dt.time

In [18]:
data.dtypes

Call Id                               object
Agent                                 object
Date                          datetime64[ns]
Time                                  object
Topic                                 object
Answered (Y/N)                        object
Resolved                              object
Speed of answer in seconds           float64
AvgTalkDuration                      float64
Satisfaction rating                  float64
dtype: object

*Standardizing Formats*

In [19]:
data['Answered (Y/N)'] = data['Answered (Y/N)'].replace({'Y':'Yes','N':'No'})

In [20]:
data['Resolved'].unique()

array(['Y', 'N'], dtype=object)

In [21]:
data['Resolved'] = data['Resolved'].replace({'Y':'Yes','N':'No'})

In [22]:
data.sample(5)

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
1054,ID1055,Martha,2021-01-19,12:28:48,Streaming,No,No,67.52,3.75,3.4
1177,ID1178,Martha,2021-01-21,17:36:58,Payment related,Yes,Yes,114.00,2.90,4.0
3341,ID3342,Stewart,2021-02-28,11:00:58,Admin Support,Yes,Yes,107.00,4.75,5.0
610,ID0611,Diane,2021-01-11,12:20:10,Payment related,Yes,Yes,16.00,6.37,4.0
4213,ID4214,Dan,2021-03-15,17:18:14,Technical Support,Yes,Yes,51.00,6.03,4.0

## Data Aggregation

In [23]:
print('The Total Number of calls attended by agents : ')
data.groupby('Agent')['Call Id'].count()

The Total Number of calls attended by agents :

Agent
Becky      631
Dan        633
Diane      633
Greg       624
Jim        666
Joe        593
Martha     638
Stewart    582
Name: Call Id, dtype: int64

In [24]:
call_count = data.groupby('Agent')['Call Id']
print('The maximum number of calls in the dataset : ',call_count.count().max())

The maximum number of calls in the dataset :  666

In [25]:
print('The maximum number of calls in the dataset : ',call_count.count().min())

The maximum number of calls in the dataset :  582

In [26]:
print('The minimum time taken for a agent call : ',data['Time'].max(),' minutes')

The minimum time taken for a agent call :  18:00:00  minutes

In [27]:
print('The minimum time taken for a agent call : ',data['Time'].min(),' minutes')

The minimum time taken for a agent call :  09:00:00  minutes

In [28]:
print('The Average satisfaction rating for each agent : ')
data.groupby('Topic')['Call Id'].count().round(2)

The Average satisfaction rating for each agent :

Topic
Admin Support         976
Contract related      976
Payment related      1007
Streaming            1022
Technical Support    1019
Name: Call Id, dtype: int64

In [29]:
data.groupby('Agent')[['Speed of answer in seconds','AvgTalkDuration','Satisfaction rating']].mean()

         Speed of answer in seconds  AvgTalkDuration  Satisfaction rating
Agent
Becky                     65.726276         3.681807             3.376545
Dan                       67.324171         3.835292             3.439179
Diane                     66.528657         3.670332             3.404107
Greg                      68.263526         3.774054             3.403526
Jim                       66.572973         3.791862             3.394895
Joe                       70.350219         3.737892             3.343339
Martha                    69.105768         3.732978             3.457053
Stewart                   66.425430         3.766701             3.400344

In [30]:
data.groupby('Topic')['Answered (Y/N)'].count()

Topic
Admin Support         976
Contract related      976
Payment related      1007
Streaming            1022
Technical Support    1019
Name: Answered (Y/N), dtype: int64

*Reshaping Data*

In [31]:
data['Answered (Y/N)'] = data['Answered (Y/N)'].replace({'Yes':1,'No':0})
data['Resolved'] = data['Resolved'].replace({'Yes':1,'No':0})

C:\Users\Pavan Gowda R\AppData\Local\Temp\ipykernel_4920\1382496720.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Answered (Y/N)'] = data['Answered (Y/N)'].replace({'Yes':1,'No':0})
C:\Users\Pavan Gowda R\AppData\Local\Temp\ipykernel_4920\1382496720.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Resolved'] = data['Resolved'].replace({'Yes':1,'No':0})

In [32]:
import numpy as np
data.pivot_table(index = ['Agent'], columns = ['Topic'], values = ['Answered (Y/N)','Resolved'], aggfunc = np.sum)

C:\Users\Pavan Gowda R\AppData\Local\Temp\ipykernel_4920\3486182214.py:2: FutureWarning: The provided callable <function sum at 0x0000020D69C50540> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data.pivot_table(index = ['Agent'], columns = ['Topic'], values = ['Answered (Y/N)','Resolved'], aggfunc = np.sum)

        Answered (Y/N)                                             \
Topic    Admin Support Contract related Payment related Streaming
Agent
Becky              100               87             112       119
Dan                 87              101             106       114
Diane              108               92              97       108
Greg               105               90             106       111
Jim                116              121              94       102
Joe                 93               84             100       105
Martha              92              107             108       105
Stewart             94              107              95        83

                               Resolved                                   \
Topic   Technical Support Admin Support Contract related Payment related
Agent
Becky                  99            90               78              99
Dan                   115            80               91              93
Diane                  96           103               82              85
Greg                   90            94               83              99
Jim                   103           106              110              81
Joe                   102            87               75              91
Martha                102            83               98              99
Stewart                98            80               92              82


Topic   Streaming Technical Support
Agent
Becky         105                90
Dan           101               106
Diane          96                86
Greg          100                79
Jim            91                97
Joe            92                91
Martha         87                94
Stewart        77                93